// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  &.success {
    background-color: $success-color;
  }
  &.info {
    background-color: $info-color;
  }
  &.warning {
    background-color: $warning-color;
  }
}
.records-table {
  input {
    margin-bottom: 0;
  }
  .button.tiny {
    margin-bottom: 0;
    &:first-child { margin-right: 5px;}
    &:last-child { margin-left: 5px;}
  }
}

.avatar {
  &.spender {
    background-color: #34495e;
  }
  &.receiver {
    background-color: #2980b9;
  }
  font-weight: lighter;
  font-size: 1.2em;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  color: whitesmoke;
  width: 30px;
  height: 30px;
  text-align: center;
}
