// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  &.success {
    background-color: $success-color;
  }
  &.info {
    background-color: $info-color;
  }
  &.warning {
    background-color: $warning-color;
  }
}
.records {
  .button.tiny {
    &:first-child { margin-right: 5px;}
    &:last-child { margin-left: 5px;}
  }
}
